[submodule ".registry"]
	path = .registry
	url = https://github.com/sondreskarsten/sondreskarsten.r-universe.dev
	branch = HEAD
[submodule "ggbumpribbon"]
	path = ggbumpribbon
	url = https://github.com/sondreskarsten/ggbumpribbon
[submodule "tidybrreg"]
	path = tidybrreg
	url = https://github.com/sondreskarsten/tidybrreg
